@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #1e1e1e;
  --foreground: #e0e2ea;
}

@theme inline {
  --color-surface-dim: #101419;
  --color-primary-container: #007acc;
  --color-inverse-on-surface: #2d3136;
  --color-surface-container: #1c2025;
  --color-on-primary-fixed: #001d36;
  --color-surface-container-high: #272a30;
  --color-tertiary: #ffb784;
  --color-error: #ffb4ab;
  --color-background: #1e1e1e;
  --color-surface-variant: #31353b;
  --color-primary-fixed: #d1e4ff;
  --color-on-background: #e0e2ea;
  --color-on-surface: #e0e2ea;
  --color-outline: #8a919d;
  --color-surface-container-low: #181c21;
  --color-primary: #9fcaff;
  
  --font-label-caps: 'Inter', sans-serif;
  --font-body-main: 'Inter', sans-serif;
  --font-caption: 'Inter', sans-serif;
  --font-h2: 'Inter', sans-serif;
  --font-body-mono: 'Space Grotesk', monospace;
  --font-h1: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body-main);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 18px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
